/* html {
  scroll-behavior: smooth;
} */
nav{
    background-color: rgba(0,0,0,0.9);
}
.nav-link {
    font: 20px Viga;
    color:white;
}
.active{
    color: rgb(0, 132, 255);
}

/* Jumbotron */
.jumbotron {
    background: url(../assets/img/backgroud.jpg);
    background-size: cover;
    height: 740px;
    position: relative;
    z-index: -1;

}

.jumbotron .container {
    color: white;
    text-align: left;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 500;
     color: rgb(0, 132, 255);
}
.container-fluid{
    min-height: 640px;
}
.container-fluid .col h1::after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    margin-left:18px;
    background: rgb(0, 132, 255);
    bottom: 0;
    left: 0;
}
#skills{
    background-color: rgb(230, 230, 230);
}


footer {
    clear: both;
    position: relative;
    height: 45px;
    margin-top: -45px;
    background-color: black;
}